h1{
    color :red;
    }
.container{
   /* background-color: blue;*/
     width:500px;
     height:500px;

    }
/*.container-fluid{
    background-color: blue;
    margin:5px;
    width:600px;
    height:500px;
    }
.row{
    background-color: red;
    margin:5px;
    }
.col{
    background-color: violet;
    margin:5px;
    }
*/